<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">DinnerDash</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if !user_signed_in?%>
        <li class="nav-item">
          <%= link_to 'Resturants',resturants_path , class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up',new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'View Cart',carts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign in',new_user_session_path, class: 'nav-link' %>
        </li>
      <%end%>
      <%if current_user%>
        <% if admin? %>
          <li class="nav-item">
            <%= link_to 'Categories',categories_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Resturants',resturants_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Orders',orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <ul class="nav-link nav-disable" >
              <%= link_to_if false,"Signed in as Admin",'#',class: 'nav-link',disabled: true %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out',destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <%elsif user?%>
          <li class="nav-item">
            <%= link_to 'Resturants',resturants_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'View Orders',orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'View Cart',carts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <ul class="nav-link nav-disable" >
              <%= link_to_if false, "Signed in as #{current_user.fullname}",'#',disabled: true,class: 'nav-link' ,disabled:true%>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out',destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</nav>
