  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
                <% if @item.image!=nil%>
                  <%=image_tag @item.image, class:"img-fluid z-depth-1" if @item.image.attached? %>
                <%end%>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5><%=@item.name%></h5>
      <p><span class="mr-1"><strong>Rs <%=@item.price%></strong></span></p>
      <p class="pt-1"><%=@item.description%></p>
      <hr>
      <% if @item.status=="Available"%>
        <%= form_with url: carts_path,html:{remote: true} do %>
          <div class="form-group">
            <div class="col-md-8">
              <%= hidden_field_tag :quantity,class: "form-control"%>
              <%= hidden_field_tag :item ,@item.id %>
            </div>
            <% if !CartItem.exists?(item_id: @item.id)%>
              <%= submit_tag "Add to Cart", class: "btn btn-default btn-primary"%>
            <%else%>
              <%= submit_tag "Added to Cart", class: "btn btn-secondary",disabled: true%>
            <%end%>
          </div>
        <%end%>
      <%elsif @item.status=="OutOfStock"%>
          <button class="btn btn-secondary" disabled>Retired</button>
      <%end%>
    </div>
  </div>
