
<%if current_user%>
  <%if @cart.cart_items[0]%>
    <%= link_to "Clear Cart",@cart,:confirm =>"Are you sure?",:remote => true, :method =>:delete,data:{confirm:'Are you sure to clear cart?'},class: " btn btn-danger danger-margin" %>
  <%end%>
<%end%>
<%if @cart%>
  <div class="col-md-12 carts_total">
    <div class="total_inner row">
      <h3>Total:</h3>
      <span id="total_id" style="vertical-align:middle; margin-left:15px;"><h5>Rs <%=calculate_total(@cart)%></h5><span>
    </div>
  </div>
  <div class="row col-md-12">
    <% @cart.items.each do |item| %>
      <div class='col-md-3 col-sm-12'>
        <div class="card card-margin" style="width: 25rem;">
          <% if item.image!=nil%>
            <%=image_tag item.image, class:"card-img-top",height:"250px" if item.image.attached? %>
          <%end%>
          <div class="row">
            <div class="card-body">
              <h3 class="card-title"><%=item.name%><h1>
            </div>
            <div class="card-body">
              <p class="card-text price">Rs <%=item.price%><p>
            </div>
          </div>
          <%@car=item.cart_items[0]%>
          <%= form_for @car,html:{remote: true} do |f|%>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.number_field :quantity,value: @car.quantity, min: 1,required:true, class: "form-control",onchange: 'this.form.submit();'%>
                <%= f.hidden_field :subtotal,value:sub_total(@car)%>
              </div>
            </div>
            <div class=" card_last row">
            <div class="card-body">
            <%= link_to "Delete", @car , :confirm =>"Are you sure?",:remote => true,:method =>:delete, html:{remote: true},class: "card-link link-color" %>
            </div>
            </div>
            <div class="sub row">
              <h5> Sub Total: </h5>
              <p class="sub_p"> Rs <%=sub_total(@car)%></p>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
  <div class="checkout_btn">
    <%if current_user%>
      <%if @cart.cart_items[0]%>
        <%= link_to "Checkout",orders_path,:method=>:post,data:{confirm:'Are you sure to confirm order?'},html:{remote: true},class: "btn btn-default btn-primary" %>
      <%end%>
    <%end%>
  </div>
  <%@cart.total=calculate_total(@cart)%>
  <%link_to carts_path(@cart.total)%>
<%end%>
